<navigation></navigation>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h3>Meet the Team</h3></div>
        <div class="panel-body text-center row">
            <div ng-repeat="person in vm.data.team">
                <div class="{{person.column}} ">
                    <!--
                    <img class="profile-pic img-circle" src="{{person.picture}}">-->
                    <div class="profile-pic center-block "
                         ng-style="{'background-image': 'url({{ person.picture }})'}"></div>

                    <h5>{{person.name}}</h5>
                    <h6>{{person.role}}</h6>
                    <h6>{{person.description}}</h6>
                    <!--
                    <a class="github-button" href="{{person.github.href}}" aria-label="{{person.github.aria}}">{{person.github.text}}</a>-->
                    <ul class="soc">
                        <li><a class="soc-github soc-icon-last" target="_blank" href="{{person.github.href}}"></a></li>
                        <li><a class="soc-linkedin soc-icon-last" target="_blank" href="{{person.linkedin.href}}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-generic></footer-generic>
