<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    <body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="big map icon"></i>Beat Me!</div>
            <a class="item" href="/">Home</a>
            <div class="right menu">
                <a class="item" href="#">Sign Up</a>
                <a class="item" href="#">Login</a>
                <a class="item" href="#">Help</a>
            </div>
        </div>
    </div>
