/node_modules
npm-debug.log

# ENV variable
env.json

# Webstorm stuff
.idea/workspace.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/inspectionProfiles/
.idea/jsLinters/
.idea/codeStyleSettings.xml
