.twoWeeks{
  font-weight: bold;
  font-size: 20px;
}

p{
  margin-bottom: 0;
}

.dashOutline{
  font-weight: bold;
  font-size: 15px;
  margin: 1.66%;
  width: 30%;
}

.panel-body{
  background-color: rgba(52,136,140,0.4);
}
