.twoWeeksDown{
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.5);
}

.twoWeeksUp{
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 255, 0, 0.5);
}

p i{
  vertical-align: middle;
}

div div p{
  margin-bottom: 0;
}

.panel-body{
  margin-top: -30px;
}

#mySelect{
  width: 100%;
}
