body {
    /*background-color: #d8d8d8;*/
    /*
    background-image: url("/vendor/img/background_1x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background: url(../vendor/img/background_1x.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

a {
    color: #3f729b;
}

a:hover {
    color: #1c5380;
}

.text-muted {
    color: #90939a;
}

/*
.navbar {
    min-height: 50px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
    float: left;
    padding-left: 15px;
}

.navbar-brand {
    height: 50px;
    padding: 0 15px;
    font-size: inherit;
    line-height: 50px;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 0 15px;
    line-height: 50px;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

.center-form {
    width: 315px;
    margin: 10% auto;
}

.signup-or-separator {
    position: relative;
    height: 29px;
    margin: 5px 0;
    text-align: center;
    background: none;
}

.signup-or-separator hr {
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control {
    padding-left: 42px;
}

.media-object {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.media-heading {
    display: block;
    margin: 0;
    color: #3f729b;
}

.media-heading:hover {
    color: #1c5380;
}

.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    border: 0;
}

.thumbnail {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
    display: flex;
}

.container .text-muted {
    margin-top: 20px;
    margin-left: 20%;
}

h4 {
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.profile-pic {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-size: cover;
    background-position: 50% 30%;

}

/*********************
* Social Buttons
*********************/

[class^='ion-'] {
    font-size: 1.2em;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}


.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
}


.btn-instagram {
    color: #fff;
    background-color: #3f729b;
}

.btn-instagram:hover,
.btn-instagram:focus {
    color: #fff;
    background-color: #305777;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.sk-fading-circle {
    margin: 100px auto;
    width: 400px;
    height: 400px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

i.ion-trophy {
    font-size: 75px;
}

.custom-border-right{
    padding-right:20px;
    border-right: 1px solid #ccc;
}

.custom-container{
    width:100%;
    background: #f8f8f8;
    display: inline-block;
    padding: 10px;
    margin: 25px 0px 0px 0px;
    box-sizing: border-box;
}

.header{
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.header .header-text {
    float:left;
    width:100%;
    padding-top:30px;
    min-height: 160px;

}

.header .sitename {
    color: #333544;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    cursor: default;
    text-rendering: optimizelegibility;
    text-align: center;
}


.header .caption {
    color: #333544;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    cursor: default;
    text-rendering: optimizelegibility;
    text-align: center;
}

.content {
    padding: 30px;
    clear: both;
}

h2,h3,h4 {
    color: #333544;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

