<% include ./partials/header %>

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui main text container">
        <h1 class="ui inverted header">Beat Me!</h1>
        <h2>LEAVE A FOOTPRINT FOR CHALLENGE</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>


<% include ./partials/footer %>
