<% include ./partials/header %>

<div class="jumbotron">
    <div class="container">
        <div id="content">
            <h1>Beat Me!</h1>
            <h3>LEAVE A FOOTPRINT FOR CHALLENGE</h3>
            <hr>
            <button class="btn btn-default btn-lg"><i class="fa fa-compass fa-5"></i> Get Started!</button>
        </div>
    </div>
</div>

<% include ./partials/footer %>
