<% include ./partials/header %>

<div class="ui main container">
    <div class="ui huge header"><h1><%= title %></h1></div>
    <p>Welcome to <%= title %></p>
</div>

<% include ./partials/footer %>
