<% include partials/header %>

<div class="ui main container center aligned grid">
	<div class="six wide column">
		<div class="ui form">
			<form action="/login" method="post">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="Username" >
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password" >
					</div>
				</div>
				<button class="ui submit button">Login!</button>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>
