<% include partials/header %>

<div class="ui main container center aligned grid">
    <div class="six wide column">
        <div class="ui form">
            <form action="">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="github icon"></i>
                        <input type="text" name="full-name" placeholder="Full Name" >
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="user-name" placeholder="Username" >
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="user-password" placeholder="Password" >
                    </div>
                </div>

                <button class="ui submit button">Sign Up!</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>
