<% include partials/header %>

<div class="ui main container">
    <div class="ui form">
        <div class="field">
            <label>Full Name</label>
            <input type="text" name="full-name" placeholder="Full Name" >
        </div>
        <div class="field">
            <label>Username</label>
            <input type="text" name="user-name" placeholder="User Name" >
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="user-password" placeholder="Password" >
        </div>

        <div class="ui submit button">Sign Up!</div>
    </div>
</div>

<% include partials/footer %>
