<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Register</h1>
        <div style="width:30%; margin: 30px auto;">
            <form class="form" action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-lg btn-block" name="button">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>
