.navbar.navbar{
  margin: 0;
  border-radius: 0;
}

.jumbotron{
  background: #222;
}
#content{
  color: white;
  text-align: center;
  padding: 10%;
  text-shadow: 0px 4px 3px 	rgba(0,0,0,0.4),
  0px 8px 13px 	rgba(0,0,0,0.1),
  0px 18px 23px 	rgba(0,0,0,0.1);
  height: 500px;
}

.jumbotron h1,h2,h3,h5,h6{
  color: white;
}

.btn {
  vertical-align: middle;
}

.fa-compass{
  font-size:1.5em;
  vertical-align: middle;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

div.flash{
  margin: 0;
  background: #222;
  width: 100%;
  padding: 15px;
  text-align: center;
}

div.alert {
  width: 80%;
  margin: auto;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
    background-color: #d8d8d8;
  }


.navbar {
  min-height: 50px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

/*.navbar-header {*/
/*float: left;*/
/*padding-left: 15px;*/
/*}*/

.navbar-brand {
  font-size: 2rem;
}

/*.navbar-nav {*/
/*float: left;*/
/*margin: 0;*/
/*}*/

/*.navbar-nav > li {*/
/*float: left;*/
/*}*/

.navbar-nav > li > a {
  line-height: 1.5;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-form {
  width: 315px;
  margin: 10% auto;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42px;
}
