.navbar.navbar{
  margin: 0;
  border-radius: 0;
}

.jumbotron{
  background: #222;
}
#content{
  color: white;
  text-align: center;
  padding: 10%;
  text-shadow: 0px 4px 3px 	rgba(0,0,0,0.4),
  0px 8px 13px 	rgba(0,0,0,0.1),
  0px 18px 23px 	rgba(0,0,0,0.1);
  height: 500px;
}

.btn {
  vertical-align: middle;
}

.fa-compass{
  font-size:1.5em;
  vertical-align: middle;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
