<navigation></navigation>
<div class="container">
    <div ng-if="!vm.isLoggedIn">
        <div class="jumbotron">
            <h2><i class="ion-locations"></i> RaceMe!</h2>
            <p>Leave a footprint for challenge</p>
            <p>
                <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
                <a class="btn btn-lg btn-primary" href="#/register"><i class="ion-person-add"></i> Create account</a>
            </p>
        </div>
    </div>
</div>

    <div ng-if="vm.isLoggedIn" class="panel panel-default" >
        <div class="panel-heading text-center">
            <h3>
                {{current.currentDate.date}}
            </h3>
        </div>
        <div class="panel-body">


            <div class="row">
                <div class="col-md-4">
                    <highchart config="activityChart"></highchart>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form role="form">
                        <div class="form-group">
                            <label for="mySelect"> Select Month </label>
                            <select class="form-control" name="mySelect" id="mySelect"
                                    ng-options="month.name for month in data.availableMonth track by month.id"
                                    ng-model="data.selectedMonth" ng-change="update()"></select>
                        </div>
                    </form>
                    <highchart config="highchartsNG"></highchart>
                </div>
                <div class="col-md-8">
                    <highchart config="timeChart"></highchart>
                </div>
            </div>
        </div>
    </div>
<footer-generic></footer-generic>
